{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/no-array-index-key": [0],
    "quotes": [2, "single"],
  }
}